[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 43155691
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"
